
<form [formGroup]="form" (ngSubmit)="guardar()">
    <h2>Insertar Registro</h2>
    <div class="mb-2 col-3">
        <label class="form-label">Goles a Favor</label>
        <input type="number" class="form-control" id="gf" formControlName="gf" placeholder="Goles a Favor">
    </div>
    <div class="mb-2 col-3">
      <label class="form-label">Goles en Contra</label>
      <input type="number" class="form-control" id="gc" formControlName="gc" placeholder="Goles en Contra">
    </div>
    <div class="mb-2 col-3">
        <label class="form-label">Numero Partidos</label>
        <input type="number" class="form-control" id="gc" formControlName="numeroPartido" placeholder="Numero Partido">
    </div>
    <div class="mb-2 col-3">
        <label class="form-label">Id Equipo</label>
        <input type="number" class="form-control" id="gc" formControlName="equipoId" placeholder="Id Equipo">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Aceptar</button>
    </div>
</form>

